@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.index-page {
  overflow-x: clip;
}

.index__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
